:root {
    --font--primary: 'Inter', sans-serif;
    --font-one: 18px;
    --font-two: 16px;
    --font-three: 14px;
    --font-four: 12px;

    --font-wheigth-one: bold;
    --font-wheigth-two: 600;
    --font-wheigth-three: 400;
}